<link rel="stylesheet" href="/css/table.css" />
<h2 id='title'>Edit voice detailed</h2>
<form id="voice_setting_form" action="generate_detailed_voice" method="POST">
<div>
Tempo:<input type='text' name='tempo' size='2' maxlength='3' value='<%= @tempo %>'>
</div>
	<table class="type1" width=100%>
		<tr>
			<% column_color = ["colorOrange", "colorGreen", "colorBlue", "colorBlue", "colorBlue"] %>
			<th class=<%= column_color[0] %> width="20"><font color="#FFFFFF">Words</th>
			<th class=<%= column_color[1] %> width="280"><font color="#FFFFFF">Notes</th>
			<th class=<%= column_color[1] %> width="80"><font color="#FFFFFF">Dots</th>
			<th class=<%= column_color[2] %> width="320"><font color="#FFFFFF">Scales</th>
			<th class=<%= column_color[3] %> width="160"><font color="#FFFFFF">Octave</th>
			<th class=<%= column_color[4] %> width="110"><font color="#FFFFFF">Accidental</th>
		</tr>
		<% words = ['て', 'す', 'と', 'い', 'ち'] %>
		<% words = @words %>
		<% tempo = @tempo %>
		<% notes = ['16分音符', '8分音符', '4分音符', '2分音符', '全音符'] %>
		<% dotted_notes = ['', '付点'] %>
		<% dotted_notes_val = [0, 0.5] %>
		<% scales = ['ド', 'レ', 'ミ', 'ファ', 'ソ', 'ラ', 'シ', 'ド'] %>
		<% scales_pitch_length = [0, 200, 400, 500, 700, 900, 1100, 1200] %>
		<% scales_pitch_base = 0 #old num = 150 %>
		<% octaves = [-1, 0, 1, 2] %>
		<% accidentals = ['&#x266E', '&#x266F', '&#x266D'] %>
		<% accidentals_val = [0, 100, -100] %>
		<% words.each_with_index do |chr, idx| %>
			<tr>
				<td class=<%= column_color[0] %>>
					<input type='text' name='words[]' size='1' maxlength='1' value='<%= chr %>'/>
			</td>
				<td class=<%= column_color[1] %>>
					<% notes.size.times do |i| %>
						<span class='set_hover'>
							<% label_id="dur_#{idx}#{i}" %>
							<%= "<label for='#{label_id}'>" %>
								<%= "<input type='radio' value='#{2.0**(i-2)}' name='duration_val[#{idx}]' id='#{label_id}' #{i==@default_notes[idx]? "checked='checked'":""}>#{notes[i]}" %>
								</lable><%= "#{i==2? "</br>":""}" %>
						</span>
					<% end %>
				</td>
				<td class=<%= column_color[1] %>>
					<% dotted_notes.size.times do |i| %>
						<span class='set_hover'>
							<% label_id="dotted_note_#{idx}#{i}" %>
							<%= "<label for='#{label_id}'>" %>
								<%= "<input type='radio' value='#{dotted_notes_val[i]}' name='dotted_notes_val[#{idx}]' id='#{label_id}' #{i==@default_dotted_notes[idx]? "checked='checked'":""}>#{dotted_notes[i]}" %>
								</lable>
						</span>
					<% end %>
				</td>
				<td class=<%= column_color[2] %>>
					<% scales.size.times do |i| %>
						<span class='set_hover'>
							<% label_id="pitch_#{idx}#{i}" %>
							<%= "<label for='#{label_id}'>" %>
								<%= "<input type='radio' value='#{scales_pitch_length[i] + scales_pitch_base}' name='pitch_val[#{idx}]' id='#{label_id}' #{i==@default_scales[idx]? "checked='checked'":""}>#{scales[i]}" %>
							</lable>
						</span>
					<% end %>
				</td>
				<td class=<%= column_color[3] %>>
					<% octaves.size.times do |i| %>
						<span class='set_hover'>
							<% label_id="octaves_#{idx}#{i}" %>
							<%= "<label for='#{label_id}'>" %>
								<%= "<input type='radio' value='#{octaves[i]}' name='octaves_val[#{idx}]' id='#{label_id}' #{i==@default_octaves[idx]? "checked='checked'":""}>#{octaves[i]}" %>
							</lable>
						</span>
					<% end %>
				</td>
				<td class=<%= column_color[4] %>>
					<% accidentals.size.times do |i| %>
						<span class='set_hover'>
							<% label_id="accidentals_#{idx}#{i}" %>
							<%= "<label for='#{label_id}'>" %>
								<%= "<input type='radio' value='#{accidentals_val[i]}' name='accidentals_val[#{idx}]' id='#{label_id}' #{i==@default_accidentals[idx]? "checked='checked'":""}>#{accidentals[i]}" %>
							</lable>
						</span>
					<% end %>
				</td>
			</tr>
		<% end %>
	</table>
	<input type="submit" value="Make detailed voice">
</form>
